@model IEnumerable<ShopgroupViewModel>

@foreach (var item in Model)
{
    if (item.ProductCount >= 1)
    {
        <li>
            <a class="dropdown-item d-flex justify-content-between align-items-center" 
               href="/Group/@item.GroupId/@item.Name">
                <span>@item.Name</span>
                <span class="badge bg-success rounded-pill ms-3">@item.ProductCount</span>
            </a>
        </li>
    }
}
